<div class='au-u-background-gray-100 au-u-padding-tiny table-of-contents'>
  <h3>{{t "tableofcontents.title"}}</h3>
  {{#if this.documentOutline}}
    <InlineComponents::Outline
      @entries={{this.documentOutline.entries}}
      @onEntryClick={{this.moveToSection}}
    />
  {{/if}}
</div>
