<div class='au-u-background-gray-100 au-u-padding-tiny table-of-contents'>
  <h2>Table of Contents</h2>
  {{#if this.documentOutline}}
    <InlineComponents::Outline
      @entries={{this.documentOutline.entries}}
      @onEntryClick={{this.moveToSection}}
    />
  {{/if}}
  <AuButton {{on 'click' this.remove}}>Remove</AuButton>
</div>
